body { margin:0; padding:0; }
html, body, #map-container {
  height: 100%;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:50%;
  height:500px;
}
#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
